body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
   background-color: rgb(43, 41, 41);}
.input{
    font-size: 18px;
    border-radius: 25px;
}
.button{
    background-color: darkcyan;
    color: white;
    border-radius: 25px;
}
